<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Filmek</title>
    <link rel="stylesheet" href="/style/style.css">
    <link rel="stylesheet" href="/style/awards.css">
    <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

</head>
<body>
    <h1>Awards List</h1>
    <nav>
        <div class="signin-box csoport">
            <a href="/">Films</a>
            <a href="/awards" >Awards</a>
            <a href="/genres">Genres</a>
            <a href="/actors">Actors</a>
            <a class="active" href="/awards-list">Awards List</a>
        </div>
    </nav>
    <table>
        <thead>
            <tr>
               <th>Award</th>
               <th>Film</th>
               <th>Actor</th>
               <th>Date</th>
            </tr>
        </thead>
        <tbody>
        <script>
            console.log(<%- JSON.stringify(awardsList) %>)
        </script>
            <% for (let i = 0; i < awardsList.length; i++) { %>
                <tr id = "<%= awardsList[i].id %>">
                    <td><%= awardsList[i].award %></td>
                    <td><%= awardsList[i].film %></td>
                    <td><%= awardsList[i].actor %></td>
                    <td><%= awardsList[i].given_date.toLocaleDateString('hu-HU') %></td>
                </tr>
            <% } %>
        </tbody>
    </table>

    <!-- Javascript Call -->
    <script>
        function deleteAward(awardId) {
            console.log(`Deleting Award WHERE id=${awardId}`);

            // Ajax Routine
            axios.delete(`http://localhost:3001/awards/${awardId}`)
                .then((res) => {
                    console.log(res.data.message);
                    $(`#${res.data.id}`).remove();
                }).catch((res) => {
                console.log('Something bad happend..:(!');
                console.log(res.response.data);
            })
        }
    </script>
</body>
</html>