<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Filmek</title>
    <link rel="stylesheet" href="/style/style.css">
    <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

</head>
<body>
    <h1>IMDB</h1>
    <nav>
        <div class="menu-box csoport">
            <select id="menu" class="menu-class">
                <option selected = "selected">Menu</option>
            </select>
        </div>

        <div class="search-box csoport">
            <input id="searchBar" type="text" placeholder="Search..">
            <form>
                <select id="kateg">
                    <option selected = "selected">genres</option>
                    <option>Action</option>
                    <option>Comedy</option>
                    <option>Drama</option>
                    <option>Fantasy</option>
                    <option>Horror</option>
                    <option>Sci-fi</option>
                    <option>Sport</option>
                    <option>Thriller</option>
                </select>
            </form>
        </div>

        <div class="signin-box csoport">
            <a class="active" href="/">Films</a>
            <a href="/awards" >Awards</a>
            <a href="/genres">Genres</a>
            <a href="/actors">Actors</a>
        </div>
    </nav>

    <a class="create" href="/films-create">Create</a>
    <table>
        <thead>
            <tr>
               <th>Title</th>
               <th>Length</th>
               <th>Release</th>
               <th>Genre</th>
               <th>Score ⭐</th>
               <th>Edit</th>
               <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <% for (let i = 0; i < films.length; i++) { %>
                <tr id="<%= films[i].id %>">
                    <td><%= films[i].cim %></td>
                    <td><%= films[i].hossz %></td>
                    <td><%= films[i].megjelenes.toLocaleDateString("hu-HU") %></td>
                    <td><%= films[i].genres %></td>
                    <td class="ertekeles"><%= films[i].ertekeles %> </td>
                    <td class="icon icons"><a href="/films-update/<%= films[i].id %>">✏</a></td>
                    <td class="icon icons" onclick="deleteFilm(<%= films[i].id %>)">🗑</td>
                </tr>
            <% } %>
        </tbody>
    </table>

    <!-- Javascript Call -->
    <script>
        function deleteFilm(filmId) {
            console.log(`Deleting Film WHERE id=${filmId}`);

            // Ajax Routine
            axios.delete(`http://localhost:3001/films/${filmId}`)
                .then((res) => {
                    console.log(res.data.message);
                    $(`#${res.data.id}`).remove();
                }).catch((res) => {
                console.log('Something bad happend..:(!');
                console.log(res.response.data);
            })
        }
    </script>
</body>
</html>

